.main-row {
    height: 100vh;
}

.main-col {
    max-width: 500px;
    height: fit-content;
}

.todo-done {
    text-decoration: line-through;
}

.container__list {
    text-align: justify;
}

.col-11 {
    background: #2e3236;
    padding-top: 7px;
    border-radius: 5px;
}

.delete_icon {
    background: red;
}

.header_bg {
    background: #304772;
}

.add_bg {
    background: #3e62a7de;
}

.add_bg:hover {
    background: #3e62a7de;
}